.watch-room {
  width: 100%;
  height: 97vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  background: black;
  // margin-top: 2rem;

  .room-window {
    margin-top: 5vw;
    width: 100%;
    height: 95%;
    background: rgba(143, 141, 136, 0.1);
    display: flex;
    flex-direction: row;
    overflow: hidden;
    // border-radius: 5%;
    // border: 2px solid darkslateblue;

    .chat {
      width: 25%;
      height: 100%;
      background: #f3f3f3;
    }

    .frame {
      width: 75%;
      height: 100%;
      position: relative;
      background: black;

      .video {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
      }
      .disabled {
        pointer-events: none;
      }
      .hide-video {
        display: none;
      }
    }
  }
}
